### Q1. What is a database? Differentiate between SQL and NoSQL databases.

Databasse is a collection of data. Database is usually controlled by database management system.  Database are used for storing , maintaining and acessing the data

 SQL database stand for structure query languages. In SQL every data are stored in specific format .They are great for structured data likes names , dates and financial records
 
 
 NoSQL are more flexible for unstructured data.This is better for handling large amount of data that can be changed frequently.Its stored a mix type of data like images , photos and  can be handle this data quickly

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for data definiton language.It is like a blueprint of the database. It helps you to define how your data will be organized and what types of data it can be stored


Lets take a exampke of the student database like its id , name , std and  age.

CREATE :- It is used to create new space  like  to create a  new section  for student  like  _course_ 

DROP :- It is used to remove a data along with coloumn. for eg. we want to drop a _name_ section because with the  help of _id_ it can identify the  student s0 it did not required the _name_ section 

ALTER :- It is used for the add a more space for the coloumn or row. like, later we realize that the student has five subject and after that college give the one more subject for enhancing the skils so this _alter_ a adding a extra layer for that.

TRUNCATE :- It is used  to remove the data only not coloumn . just like, after one year student has completed their one extra subject .So its not important to store those data so, those data will be remove or clear but the space remain for extra subject keep as it is. For in case future they will be provide one more subject

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML refers to the data manipulation language. It is used to manipulate or modify the data by using insert update , delete commands 


INSERT :- This command is used for to insert a data means to put a  new data into the database like to add a student student marks

UPDATE :- This command is used to update the any data or information regarding th like to updata a student phone number.

DELETE :- This command is used to delete the data which is not required like to dalete a student previous year roll no ,which is not required in this year

### Q4. What is DQL? Explain SELECT with an example.

DQL stands for data query language .It is uses to retrive information from database.It help to fetch the  specific data from the database .It is used to ask a question to the database 

SELECT :- The dataabse is like a big collection of information .The _select_ statement or command is like a asking a question to database to get the specific data.

for eg    SELECT TITLE,Author 
    
           From Books
    
            where Genre = science fiction
    
    
This statemnt simply say that go to the database and show the author book which is genre are science fiction

### Q5. Explain Primary Key and Foreign Key.

Primary key :- In a database a primary key is like special id tag for each row in a table of the dastabase . Primary key is unique in each row of the database .It help to to fetch the data in easy way and keep the  data in organised way.

for eg  a employee _id_ is the unique among the all employee who works in the company. If HR wants to promote to the employee based on their perfomance so this is possible because their employee _id_ reason the  perfomance are stored in the database and  it has already has alloted  unique employee _id_

Foreign key :- Foreign key is like a special tag in one list that points to an item in another list . This tag help the two list work together and understand how certain item are related to each other

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector 

#creatina a connetion with mysql database 

db=mysql.connector.connect(
    host="localhost",
    user="username",
    password="password",
    database="database_name"
)

#creating a cursor object

cursor = db.cursor()

#Executing a SELECT statement

cursor.execute("SELECT * FROM employee")

for row in cusor.fetchall():
    print(row)
    
#Closing the database and cursor

cursor.close()
db.close()

cursor() is like a pointer that help you keep track of list of item . In another words Its like a arrow that point to the item you are looking at

execute() method is like a giving a order or a command  to the computer. Its like a telling to the computer to do this task . Its like a giving a push to make the thing happen

### Q7. Give the order of execution of SQL clauses in an SQL query.

SElELCT name,age

FROM customers

WHERE age > 18

GROUP BY departmnet

HAVING count (*) > 5

ORDER BY name ASC

LIMIT 10

SELECT :- specify which coloumn you want

FROM :- this is where you mention the table

WHERE :- to set the condition to filter the data 

GROUP BY :- If you want to group data together based on the coloumn

HAVING :-filter the group based on the count of the customer

ORDER BY :- sort the result by the _name_ coloumn in the ascending order

LIMIT :- Want only a certain number of the data